<div class="content ">
    <div class="row">

        <!-- AQUI ENTRA A PARTIAL DA OFERTA PRINCIPAL -->
        <%= render "/common/ofertas/oferta_principal", :locals => { :destaque => @destaque } %>


        <div class="grid12" style="margin-top: 5px;">
            <div class="other_deals_list">
                <h2 class="title-offer">Mais Recentes</h2>

                <%= render :partial => "/common/ofertas/oferta_item_lista", :locals => { :ofertas => @ofertas } %>

            </div>
        </div>
        <div class="grid12" style="margin-top: 5px;">
            <p>
            <a href="" id="MaisOfertas" class="link-ver-mais" title="Veja mais ofertas">Carregar mais ofertas</a></p>
            <p>
            <a href="" class="link-ver-mais" id="ShowAllOffer" title="Veja Todas ofertas" style="display: none;">Ofertas recentes</a></p>
        </div>
        </script>

    </div>
    <!-- /row -->
</div>
<!-- / content -->
