<div class="content ">
    <div class="row">

        <%= render "/common/ofertas/oferta_principal", :locals => { :oferta => @oferta } %>
 
        </script>

    </div>
    <!-- /row -->
</div>
<!-- / content -->
