<h1>Novo Administrador</h1>

<%= render 'form' %>

<%= link_to 'Voltar à Listagem de Administradores', admin_administradores_path %>
<%= link_to 'Voltar à Listagem de Usuários', admin_usuarios_path %>
