<h1>Editar Cooperativa</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @cooperativa %>
<%= link_to 'Voltar à Listagem de Cooperativas', admin_cooperativas_path %>
<%= link_to 'Voltar à Listagem de Usuários', admin_usuarios_path %>
