<h1>IMAGEM</h1>

<% if @imagem.image.exists? then %>
	<p>Small:<%= image_tag @imagem.image.url(:thumb) %></p>
	<p>Medium:<%= image_tag @imagem.image.url(:medium) %></p>
<% else %>
	<p> There are no photo's attached, upload one. </p>
<% end %>
