<div class="content ">
    <div class="row">                
        <div class="grid12" style="margin-top: 5px;">
            <div class="other_deals_list">
                <h2 class="title-offer" style="font-size:26px">Cooperativas</h2>                
                <%= render :partial => "/common/produtos/produto_item_lista", :locals => { :produtos => @produtos } %>

            </div>
        </div>  
        
        </script>

    </div>
    <!-- /row -->
</div>
<!-- / content -->