<div class="content ">
    <div class="row">

        <%= render "/common/produtos/produto_principal", :locals => { :produto => @produto } %>
 
        </script>

    </div>
    <!-- /row -->
</div>
<!-- / content -->
