<% @cooperativas.each do |cooperativa| %>
	<div class="box other_deals" style="height:290px">
    <a href="" title="Oferta">
        <% if cooperativa.imagens.count != 0  %>
          <%= image_tag cooperativa.imagens[0].image.url(:thumb), :class => "lazy" %>
        <% end %>
    </a>
	<% cooperativa.descricao = cooperativa.descricao.gsub("<p>", " ").gsub("</p>", " ")%>
         <!--span class="district"></span>-->
         <a href="" class="title_old" onclick="" title="Teste!"><%= cooperativa.nome %></a>
        <%= cooperativa.descricao[0..200] + '...' %>
        <p style="position:top">
            <%= link_to(">>", cooperativa_path(cooperativa), :class => "btn secondary", :title => "Ver") %>
        </p>
    </div>
<% end %>
