<div class="content ">
    <div class="row">

        <%= render "/common/cooperativas/cooperativa_principal", :locals => { :cooperativa => @cooperativa } %>
 
        </script>

    </div>
    <!-- /row -->
</div>
<!-- / content -->
