<div class="grid8" id="main-deal">
    <div itemscope="" itemtype="http://schema.org/Offer" class="box main_box">
        <h1 itemprop="name">
            <a itemprop="url" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue ante, nec sagittis lectus. Fusce non est arcu."
                href=""
                class="deal-title"><%= @produto.nome %></a></h1>
        <!-- SHARE -->
        <div class="social">

        </div>

        <!--mainDeal-->
        <div class="deal-description row" style="margin:20px">
            <a title="PromoÁ„o da Cooperativa!"
                class="" style="display: block;">
                <% if @produto.imagens.count != 0 %>
                <%= image_tag @produto.imagens[0].image.url(:medium), :class => "oferta", :itemprop => "image", :style => "margin:15px" %>
                <% end %>
            </a>
            <!--a title="PromoÁ„o da Cooperativa!"
                class="" style="display: block;">
                <img itemprop="image" class="oferta" alt="PromoÁ„o da Cooperativa!"
                    src="/assets/img_offer_main.jpg" width="465" height="300">
            </a-->

            <%= @produto.descricao.html_safe %>

        </div>
    </div>
</div>
