<% @produtos.each do |produto| %>
	<div class="box other_deals" style="height:290px">
    <a href="" title="Oferta">
        <% if produto.imagens.count != 0  %>
          <%= image_tag produto.imagens[0].image.url(:thumb), :class => "lazy" %>
        <% end %>
    </a>
	<% produto.descricao = produto.descricao.gsub("<p>", " ").gsub("</p>", " ")%>

         <!--span class="district"></span>-->
         <a href="" class="title_old" onclick="" title="Produto"><%= produto.nome %></a>
        <%= produto.descricao[0..200] + '...' %>
        <p style="position:top">
        		<%= link_to '>>', produto_path(produto), :class => 'btn secondary' %>
        </p>



    </div>
<% end %>
